* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body .wraper {
  width: 100%;
  overflow: hidden;
}
body .wraper .menu-mob {
  display: none;
  justify-content: center;
  align-items: center;
  background: black;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 98;
}
body .wraper .menu-mob .nav-link-mob ul {
  display: flex;
  gap: 60px;
  flex-direction: column;
}
body .wraper .menu-mob .nav-link-mob ul li a {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}
body .wraper .menu-mob .nav-link-mob ul li a:hover {
  border-bottom: 1px solid white;
  transition: linear 0.3s;
}
body .wraper .menu-mob-active {
  display: flex;
}
body .wraper .header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: black;
}
body .wraper .header .container {
  max-width: 1200px;
  margin: 0 auto;
}
body .wraper .header .container .header_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
body .wraper .header .container .header_item .nav-link ul {
  display: flex;
  gap: 60px;
}
body .wraper .header .container .header_item .nav-link ul li a {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}
body .wraper .header .container .header_item .nav-link ul li a:hover {
  border-bottom: 1px solid white;
  transition: linear 0.3s;
}
body .wraper .header .container .header_item .burger img {
  width: 35px;
}
body .wraper .about-me {
  width: 100%;
  height: 100vh;
  background-image: url("./img/about-me/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .wraper .about-me .content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.67);
}
body .wraper .about-me .content .container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}
body .wraper .about-me .content .container .about-me_item {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .wraper .about-me .content .container .about-me_item .title .description h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 200;
  line-height: 120%;
}
body .wraper .about-me .content .container .about-me_item .title .description h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 96px;
  font-weight: 700;
  line-height: 110%;
}
body .wraper .about-me .content .container .about-me_item .title .description h4 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 200;
  max-width: 700px;
  line-height: 120%;
  text-transform: uppercase;
}
body .wraper .about-me .content .container .about-me_item .title .buttons {
  display: flex;
  gap: 25px;
  margin-top: 45px;
}
body .wraper .about-me .content .container .about-me_item .title .buttons a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-style: italic;
  font-weight: 300;
  color: white;
  padding: 15px 25px;
  border: 1px solid white;
  border-radius: 10px;
  background: black;
}
body .wraper .about-me .content .container .about-me_item .title .buttons a:hover {
  background: white;
  color: black;
  transition: linear 0.3s;
}
body .wraper .about-me .content .container .about-me_item img {
  width: 500px;
  border-radius: 10px;
}
body .wraper .skills {
  width: 100%;
  height: 100%;
}
body .wraper .skills .content_skills {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
body .wraper .skills .content_skills .container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}
body .wraper .skills .content_skills .container .skills_item {
  padding: 65px 0;
}
body .wraper .skills .content_skills .container .skills_item .skills-title {
  text-align: center;
  margin-bottom: 50px;
}
body .wraper .skills .content_skills .container .skills_item .skills-title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}
body .wraper .skills .content_skills .container .skills_item .skills-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  row-gap: 50px;
}
body .wraper .skills .content_skills .container .skills_item .skills-block .skills-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}
body .wraper .skills .content_skills .container .skills_item .skills-block .skills-inner img {
  width: 150px;
  border-radius: 10px;
}
body .wraper .skills .content_skills .container .skills_item .skills-block .skills-inner h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
}
body .wraper .skills .content_skills .container .skills_item hr {
  width: 100%;
  height: 1px;
  background: white;
  margin: 50px 0;
}
body .wraper .projects {
  width: 100%;
  height: 100%;
}
body .wraper .projects .content_projects {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}
body .wraper .projects .content_projects .container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}
body .wraper .projects .content_projects .container .projects_item {
  padding: 65px 0;
}
body .wraper .projects .content_projects .container .projects_item .projects-title {
  text-align: center;
  margin-bottom: 50px;
}
body .wraper .projects .content_projects .container .projects_item .projects-title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}
body .wraper .projects .content_projects .container .projects_item .projects-main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
body .wraper .projects .content_projects .container .projects_item .projects-main .project_block {
  display: flex;
  gap: 30px;
  overflow: hidden;
}
body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project {
  display: flex;
  max-width: 60%;
  gap: 10px;
}
body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project .move_arrow {
  display: none;
  justify-content: center;
  align-items: center;
}
body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project .move_arrow .move {
  background: white;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  padding: 2px 5px;
}
body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project .move_arrow .move img {
  width: 40px;
  transform: rotate(180deg);
}
body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project .move_arrow .move h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
}
body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project button {
  background: none;
}
body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project button img {
  width: 30px;
  fill: white;
  color: white;
}
body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project button:nth-child(1) {
  transform: rotate(180deg);
}
body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project .slider {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project .slider .images {
  display: flex;
  width: 100%;
  max-height: 360px;
  position: relative;
  left: 0;
  transition: ease 0.8s;
}
body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project .slider .images img {
  max-width: 100%;
  height: auto;
}
body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .title {
  margin-bottom: 25px;
}
body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: white;
  line-height: 120%;
}
body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .description {
  margin-bottom: 50px;
}
body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .description h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  line-height: 120%;
}
body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .links-project {
  display: flex;
  gap: 25px;
}
body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .links-project a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
  background: black;
}
body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .links-project a:hover {
  background: white;
  color: black;
  transition: linear 0.3s;
}
body .wraper .contacts {
  width: 100%;
  height: 100%;
  background: white;
}
body .wraper .contacts .content_contacts {
  width: 100%;
  height: 100%;
}
body .wraper .contacts .content_contacts .container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}
body .wraper .contacts .content_contacts .container .contacts_item {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body .wraper .contacts .content_contacts .container .contacts_item .contacts_me {
  display: flex;
  justify-content: space-between;
}
body .wraper .contacts .content_contacts .container .contacts_item .contacts_me img {
  width: 40px;
  margin-right: 10px;
}
body .wraper .contacts .content_contacts .container .contacts_item .contacts_me h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: Black;
  line-height: 120%;
  border-bottom: 1px solid white;
  padding-bottom: 2px;
}
body .wraper .contacts .content_contacts .container .contacts_item .contacts_me h3:hover {
  border-bottom: 1px solid black;
  transition: linear 0.3s;
}
body .wraper .contacts .content_contacts .container .contacts_item .contacts_me hr {
  width: 1px;
  height: 50px;
  background: black;
}
body .wraper .contacts .content_contacts .container .contacts_item .contacts_me .email {
  display: flex;
  align-items: center;
}
body .wraper .contacts .content_contacts .container .contacts_item .contacts_me .telegram {
  display: flex;
  align-items: center;
}
body .wraper .contacts .content_contacts .container .contacts_item .contacts_me .phone {
  display: flex;
  align-items: center;
}
body .wraper .contacts .content_contacts .container .contacts_item .contacts_me .github {
  display: flex;
  align-items: center;
}
body .wraper .footer {
  width: 100%;
  height: 100%;
  background: black;
}
body .wraper .footer h3 {
  text-align: center;
  padding: 65px 0 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: white;
  line-height: 120%;
}

@media screen and (max-width: 1220px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1100px) {
  body .wraper .about-me .content .container .about-me_item img {
    width: 300px;
  }
  body .wraper .contacts .content_contacts .container .contacts_item .contacts_me {
    flex-direction: column;
    gap: 15px;
  }
  body .wraper .contacts .content_contacts .container .contacts_item .contacts_me hr {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  body .wraper .about-me .content .container .about-me_item .title .description h3 {
    font-size: 20px;
  }
  body .wraper .about-me .content .container .about-me_item .title .description h2 {
    font-size: 34px;
  }
  body .wraper .about-me .content .container .about-me_item .title .description h4 {
    font-size: 20px;
  }
  body .wraper .about-me .content .container .about-me_item .title .buttons a {
    font-size: 16px;
    padding: 10px 20px;
  }
  body .wraper .about-me .content .container .about-me_item img {
    width: 200px;
  }
  body .wraper .skills .content_skills .container .skills_item .skills-title h2 {
    font-size: 32px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-title h2 {
    font-size: 32px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block {
    flex-direction: column;
    align-items: center;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project {
    max-width: 80%;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .title {
    margin-bottom: 10px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .description {
    margin-bottom: 20px;
  }
  .project-description {
    max-width: 580px;
  }
}
@media screen and (max-width: 768px) {
  .logo img {
    width: 70px;
  }
  body .wraper .header {
    height: 50px;
  }
  body .wraper .header .container .header_item {
    align-items: flex-start;
  }
  .nav-link {
    display: none;
  }
  body .wraper .skills .content_skills .container .skills_item .skills-block .skills-inner {
    gap: 10px;
  }
  body .wraper .skills .content_skills .container .skills_item .skills-block .skills-inner img {
    width: 80px;
  }
  body .wraper .skills .content_skills .container .skills_item .skills-block .skills-inner h3 {
    font-size: 12px;
  }
  body .wraper .skills .content_skills .container .skills_item .skills-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    row-gap: 30px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project {
    max-width: 100%;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .title h2 {
    font-size: 24px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .description h4 {
    font-size: 14px;
    font-weight: 200;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .links-project a {
    padding: 10px 15px;
  }
  body .wraper .contacts .content_contacts .container .contacts_item .contacts_me h3 {
    font-size: 18px;
  }
  body .wraper .contacts .content_contacts .container .contacts_item .contacts_me img {
    width: 30px;
  }
}
@media screen and (max-width: 420px) {
  .container {
    padding: 0 10px;
  }
  body .wraper .about-me {
    padding-bottom: 35px;
    height: 100%;
  }
  body .wraper .about-me .content .container .about-me_item {
    padding-top: 52px;
    flex-direction: column-reverse;
  }
  body .wraper .about-me .content .container .about-me_item img {
    width: 100%;
    margin-bottom: 15px;
  }
  body .wraper .about-me .content .container .about-me_item .title {
    width: 100%;
  }
  body .wraper .about-me .content .container .about-me_item .title .description h3 {
    display: none;
  }
  body .wraper .about-me .content .container .about-me_item .title .description h2 {
    text-align: center;
    font-size: 52px;
  }
  body .wraper .about-me .content .container .about-me_item .title .description h4 {
    text-align: center;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 50px;
  }
  body .wraper .about-me .content .container .about-me_item .title .buttons {
    justify-content: center;
    margin-top: 15px;
  }
  body .wraper .skills .content_skills .container .skills_item .skills-block {
    gap: 7px;
    row-gap: 20px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project {
    height: auto;
    flex-direction: column;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project button {
    display: none;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project .move_arrow {
    display: flex;
  }
  .project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .description h4 {
    font-size: 12px;
  }
  body .wraper .footer h3 {
    font-size: 14px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .title h2 {
    font-size: 22px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .links-project a {
    padding: 15px 25px;
    font-size: 18px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block {
    gap: 15px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main {
    gap: 70px;
  }
  body .wraper .projects .content_projects .container .projects_item {
    padding: 55px 0;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-title {
    margin-bottom: 20px;
  }
  body .wraper .skills .content_skills .container .skills_item .skills-title {
    margin-bottom: 20px;
  }
  body .wraper .skills .content_skills .container .skills_item {
    padding: 55px 0;
  }
  body .wraper .about-me .content .container .about-me_item .title .buttons a {
    font-size: 22px;
    padding: 15px 20px;
  }
}

/*# sourceMappingURL=style.css.map */
