* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body .wraper {
  background-color: #2C2C2C;
  width: 100%;
}
body .wraper .container {
  max-width: 1200px;
  height: 815px;
  margin: 0 auto;
}
body .wraper .container .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2C2C2C;
}
body .wraper .container .header .header_main {
  max-width: 1200px;
  margin: 0 auto;
}
body .wraper .container .header .header_main .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
body .wraper .container .header .header_main .nav .logo_header {
  display: flex;
  align-items: center;
}
body .wraper .container .header .header_main .nav .logo_header img {
  width: 55px;
}
body .wraper .container .header .header_main .nav .logo_header h2 {
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  color: #fff;
}
body .wraper .container .header .header_main .nav .nav_item {
  display: flex;
  gap: 40px;
}
body .wraper .container .header .header_main .nav .nav_item a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  border-bottom: 1px solid #2C2C2C;
}
body .wraper .container .header .header_main .nav .nav_item a:hover {
  border-bottom: 1px solid #E2A300;
  transition: linear 0.3s;
}
body .wraper .container .about_me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 175px;
}
body .wraper .container .about_me .title .description {
  margin-bottom: 27px;
}
body .wraper .container .about_me .title .description h3 {
  font-weight: 400;
  font-size: 56px;
  line-height: 65px;
  font-family: "Montserrat", sans-serif;
  color: #E4E4E4;
}
body .wraper .container .about_me .title .description h2 {
  font-weight: 700;
  font-size: 82px;
  line-height: 82px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
body .wraper .container .about_me .title .description h4 {
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
  color: #E4E4E4;
  font-family: "Noto Sans", sans-serif;
  max-width: 500px;
}
body .wraper .container .about_me .title .buttons {
  display: flex;
  gap: 15px;
}
body .wraper .container .about_me .title .buttons a:nth-child(1) {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: #000000;
  padding: 14px 40px;
  background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
  box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  border-radius: 6px;
  font-family: "Noto Sans", sans-serif;
}
body .wraper .container .about_me .title .buttons a:nth-child(2) {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: #000;
  padding: 14px 40px;
  background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
  box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  border-radius: 6px;
  font-family: "Noto Sans", sans-serif;
}
body .wraper .skills {
  background-color: #414141;
  width: 100%;
  height: 3787px;
  padding-top: 110px;
}
body .wraper .skills .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
body .wraper .skills .container .block_one {
  width: 100%;
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #267871, #136a8a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 20px 25px;
}
body .wraper .skills .container .block_one:nth-child(2) {
  background: #4B79A1; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4B79A1, #283E51); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4B79A1, #283E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body .wraper .skills .container .block_one:nth-child(3) {
  background: #5f2c82; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #5f2c82, #49a09d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #5f2c82, #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body .wraper .skills .container .block_one .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
body .wraper .skills .container .block_one .item h3 {
  color: #E4E4E4;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
body .wraper .skills .container .block_one .item img {
  max-height: 100px;
  border-radius: 25px;
}

/*# sourceMappingURL=style.css.map */
