@import "resetStyle";

$Font-familyNoto: 'Noto Sans', sans-serif;
$Font-familyMontserrat: 'Montserrat', sans-serif;


body {
  .wraper {
    width: 100%;
    overflow: hidden;

    .menu-mob {
      display: none;
      justify-content: center;
      align-items: center;
      background: black;
      width: 100%;
      height: 100vh;
      position: fixed;
      z-index: 99;


      .nav-link-mob {
        ul {
          display: flex;
          gap: 60px;
          flex-direction: column;

          li {
            a {
              font-size: 20px;
              font-family: $Font-familyMontserrat;
              font-weight: 300;
              color: white;
              cursor: pointer;
              border-bottom: 1px solid black;
              padding-bottom: 2px;

              &:hover {
                border-bottom: 1px solid white;
                transition: linear 0.3s;

              }
            }
          }
        }
      }
    }

    .menu-mob-active {
      transition: all linear 5s;
      display: flex;

    }

    .header {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99;
      background-color: black;

      .container {
        max-width: 1200px;
        margin: 0 auto;

        .header_item {
          display: flex;
          justify-content: space-between;
          padding: 5px 0 0 0;


          .logo {
            padding: 10px 0;

            img {
            }
          }

          .nav-link {
            padding: 10px 0;

            ul {
              display: flex;
              gap: 60px;

              li {
                a {
                  font-size: 20px;
                  font-family: $Font-familyMontserrat;
                  font-weight: 300;
                  color: #fff;
                  cursor: pointer;
                  border-bottom: 1px solid black;
                  padding-bottom: 2px;

                  &:hover {
                    border-bottom: 1px solid white;
                    transition: linear 0.3s;

                  }
                }
              }
            }
          }

          .burger {
            padding: 0px 0;

            img {
              width: 40px;
            }
          }
        }
      }
    }

    .about-me {
      width: 100%;
      height: 100vh;
      background-image: url("./img/about-me/hero-bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .content {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.67);

        .container {
          max-width: 1200px;
          margin: 0 auto;
          height: 100%;

          .about-me_item {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .title {
              .description {
                h3 {
                  color: white;
                  font-family: $Font-familyMontserrat;
                  font-size: 36px;
                  font-weight: 200;
                  line-height: 120%;
                }

                h2 {
                  color: white;
                  font-family: $Font-familyMontserrat;
                  font-size: 96px;
                  font-weight: 700;
                  line-height: 110%;

                }

                h4 {
                  color: white;
                  font-family: $Font-familyMontserrat;
                  font-size: 36px;
                  font-weight: 200;
                  max-width: 700px;
                  line-height: 120%;
                  text-transform: uppercase;

                }
              }

              .buttons {
                display: flex;
                gap: 25px;
                margin-top: 45px;

                a {
                  text-decoration: none;
                  font-family: "Montserrat", sans-serif;
                  font-size: 22px;
                  //text-transform: uppercase;
                  font-style: italic;
                  font-weight: 300;
                  color: white;
                  padding: 15px 25px;
                  border: 1px solid white;
                  border-radius: 10px;
                  background: black;

                  &:hover {
                    background: white;
                    color: black;
                    transition: linear 0.3s;

                  }
                }
              }

            }

            img {
              width: 500px;
              border-radius: 10px;
            }
          }

        }
      }
    }

    .skills {
      width: 100%;
      height: 100%;
      //background-image: url("./img/skills/bg.jpg");
      //background-position: center;
      //background-repeat: no-repeat;
      //background-size: cover;


      .content_skills {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.80);

        .container {
          max-width: 1200px;
          margin: 0 auto;
          height: 100%;

          .skills_item {
            padding: 65px 0;

            .skills-title {
              text-align: center;
              margin-bottom: 50px;

              h2 {
                font-family: $Font-familyMontserrat;
                font-size: 56px;
                font-weight: 400;
                text-transform: uppercase;
                color: white;
              }
            }

            .skills-block {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              gap: 25px;
              row-gap: 50px;

              .skills-inner {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 17px;

                img {
                  width: 150px;
                  border-radius: 10px;
                }

                h3 {
                  font-family: $Font-familyMontserrat;
                  font-size: 18px;
                  font-weight: 300;
                  text-transform: uppercase;
                  color: white;
                }
              }
            }

            hr {
              width: 100%;
              height: 1px;
              background: white;
              margin: 50px 0;
            }
          }
        }
      }
    }

    .projects {
      width: 100%;
      height: 100%;
      //background-image: url("./img/projects/bg.jpg");
      //background-position: center;
      //background-repeat: no-repeat;
      //background-size: cover;

      .content_projects {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.90);

        .container {
          max-width: 1200px;
          margin: 0 auto;
          height: 100%;

          .projects_item {
            padding: 65px 0;

            .projects-title {
              text-align: center;
              margin-bottom: 50px;

              h2 {
                font-family: $Font-familyMontserrat;
                font-size: 56px;
                font-weight: 400;
                text-transform: uppercase;
                color: white;
              }
            }

            .projects-main {
              display: flex;
              flex-direction: column;
              gap: 50px;

              .project_block {
                display: flex;
                gap: 30px;
                overflow: hidden;

                .image_project {
                  display: flex;
                  max-width: 60%;
                  gap: 10px;

                  .move_arrow {
                    display: none;
                    justify-content: center;
                    align-items: center;

                    .move {
                      background: white;
                      display: flex;
                      align-items: center;
                      gap: 5px;
                      border-radius: 10px;
                      padding: 2px 5px;

                      img {
                        width: 40px;
                        transform: rotate(180deg);
                      }

                      h2 {
                        font-family: $Font-familyMontserrat;
                        font-size: 16px;
                        font-weight: 300;
                        text-transform: uppercase;
                        color: black;
                      }
                    }

                  }

                  button {
                    background: none;

                    img {
                      width: 30px;
                      fill: white;
                      color: white;
                    }

                    &:nth-child(1) {
                      transform: rotate(180deg);
                    }

                  }

                  .slider {
                    width: 100%;
                    overflow: hidden;
                    border-radius: 10px;


                    .images {
                      display: flex;
                      width: 100%;
                      max-height: 360px;
                      position: relative;
                      left: 0;
                      transition: ease 0.8s;

                      img {
                        max-width: 100%;
                        height: auto;
                      }
                    }
                  }
                }

                .project-description {
                  .title {
                    margin-bottom: 25px;

                    h2 {
                      font-family: $Font-familyMontserrat;
                      font-size: 32px;
                      font-weight: 600;
                      color: white;
                      line-height: 120%;
                    }
                  }

                  .description {
                    margin-bottom: 50px;

                    h4 {
                      font-family: $Font-familyMontserrat;
                      font-size: 18px;
                      font-weight: 400;
                      text-transform: uppercase;
                      color: white;
                      line-height: 120%;
                    }
                  }

                  .links-project {
                    display: flex;
                    gap: 25px;

                    a {
                      text-decoration: none;
                      font-family: "Montserrat", sans-serif;
                      font-size: 16px;
                      font-style: italic;
                      font-weight: 300;
                      color: white;
                      padding: 10px 20px;
                      border: 1px solid white;
                      border-radius: 10px;
                      background: black;

                      &:hover {
                        background: white;
                        color: black;
                        transition: linear 0.3s;

                      }
                    }
                  }
                }
              }


            }
          }
        }
      }
    }

    .contacts {
      width: 100%;
      height: 100%;
      //background-image: url("./img/contacts/bg.jpg");
      //background-position: center;
      //background-repeat: no-repeat;
      //background-size: cover;
      background: white;

      .content_contacts {
        width: 100%;
        height: 100%;
        //background: rgba(0, 0, 0, 0.90);

        .container {
          max-width: 1200px;
          margin: 0 auto;
          height: 100%;

          .contacts_item {
            padding: 25px 0;
            display: flex;
            flex-direction: column;
            gap: 30px;
            //justify-content: space-between;

            .contacts_me {
              display: flex;
              justify-content: space-between;

              img {
                width: 40px;
                margin-right: 10px;
              }

              h3 {
                font-family: $Font-familyMontserrat;
                font-size: 22px;
                font-weight: 400;
                color: Black;
                line-height: 120%;
                border-bottom: 1px solid white;
                padding-bottom: 2px;

                &:hover {
                  border-bottom: 1px solid black;
                  transition: linear 0.3s;

                }
              }

              hr {
                width: 1px;
                height: 50px;
                background: black;
              }

              .email {
                display: flex;
                align-items: center;
              }

              .telegram {
                display: flex;
                align-items: center;

              }

              .phone {
                display: flex;
                align-items: center;

              }

              .github {
                display: flex;
                align-items: center;

              }
            }

          }
        }
      }
    }

    .footer {
      width: 100%;
      height: 100%;
      background: black;

      h3 {
        text-align: center;
        padding: 65px 0 10px;
        font-family: $Font-familyMontserrat;
        font-size: 14px;
        font-weight: 200;
        //text-transform: uppercase;
        color: white;
        line-height: 120%;
      }
    }


  }
}

@media screen and (max-width: 1220px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1100px) {
  body .wraper .about-me .content .container .about-me_item img {
    width: 300px;
  }
  body .wraper .contacts .content_contacts .container .contacts_item .contacts_me {
    flex-direction: column;
    gap: 15px;
  }

  body .wraper .contacts .content_contacts .container .contacts_item .contacts_me hr {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  body .wraper .about-me .content .container .about-me_item .title .description h3 {
    font-size: 20px;
  }
  body .wraper .about-me .content .container .about-me_item .title .description h2 {
    font-size: 34px;
  }
  body .wraper .about-me .content .container .about-me_item .title .description h4 {
    font-size: 20px;
  }
  body .wraper .about-me .content .container .about-me_item .title .buttons a {
    font-size: 16px;
    padding: 10px 20px;
  }
  body .wraper .about-me .content .container .about-me_item img {
    width: 200px;
  }
  body .wraper .skills .content_skills .container .skills_item .skills-title h2 {
    font-size: 32px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-title h2 {
    font-size: 32px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block {
    flex-direction: column;
    align-items: center;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project {
    max-width: 80%;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .title {
    margin-bottom: 10px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .description {
    margin-bottom: 20px;
  }
  .project-description {
    max-width: 580px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    img {
      width: 70px;
    }
  }
  body .wraper .header {
    height: 50px;
  }
  body .wraper .header .container .header_item {

    align-items: flex-start;
  }
  .nav-link {
    display: none;
  }
  body .wraper .skills .content_skills .container .skills_item .skills-block .skills-inner {
    gap: 10px;
  }
  body .wraper .skills .content_skills .container .skills_item .skills-block .skills-inner img {
    width: 80px;
  }
  body .wraper .skills .content_skills .container .skills_item .skills-block .skills-inner h3 {
    font-size: 12px;
  }
  body .wraper .skills .content_skills .container .skills_item .skills-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    row-gap: 30px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project {
    max-width: 100%;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .title h2 {
    font-size: 24px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .description h4 {
    font-size: 14px;
    font-weight: 200;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .links-project a {
    padding: 10px 15px;
  }
  body .wraper .contacts .content_contacts .container .contacts_item .contacts_me h3 {
    font-size: 18px;
  }
  body .wraper .contacts .content_contacts .container .contacts_item .contacts_me img {
    width: 30px;
  }
}

@media screen and (max-width: 420px) {
  .container {
    padding: 0 10px;
  }
  body .wraper .about-me {
    padding-bottom: 35px;
    height: 100%;

  }
  body .wraper .about-me .content .container .about-me_item {
    padding-top: 52px;
    flex-direction: column-reverse;
  }
  body .wraper .about-me .content .container .about-me_item img {
    width: 100%;
    margin-bottom: 15px;
  }
  body .wraper .about-me .content .container .about-me_item .title {
    width: 100%;
  }
  body .wraper .about-me .content .container .about-me_item .title .description h3 {
    display: none
  }
  body .wraper .about-me .content .container .about-me_item .title .description h2 {
    text-align: center;
    font-size: 52px;
  }
  body .wraper .about-me .content .container .about-me_item .title .description h4 {
    text-align: center;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 50px;
  }

  body .wraper .about-me .content .container .about-me_item .title .buttons {
    justify-content: center;
    margin-top: 15px;
  }
  body .wraper .skills .content_skills .container .skills_item .skills-block {
    gap: 7px;
    row-gap: 20px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project {
    height: auto;
    flex-direction: column;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project button {
    display: none
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .image_project .move_arrow {
    display: flex;
  }
  .project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .description h4 {
    font-size: 12px;
  }
  body .wraper .footer h3 {
    font-size: 14px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .title h2 {
    font-size: 22px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block .project-description .links-project a {
    padding: 15px 25px;
    font-size: 18px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main .project_block {
    gap: 15px;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-main {
    gap: 70px;
  }
  body .wraper .projects .content_projects .container .projects_item {
    padding: 55px 0;
  }
  body .wraper .projects .content_projects .container .projects_item .projects-title {
    margin-bottom: 20px;
  }
  body .wraper .skills .content_skills .container .skills_item .skills-title {
    margin-bottom: 20px;
  }
  body .wraper .skills .content_skills .container .skills_item {
    padding: 55px 0;
  }
  body .wraper .about-me .content .container .about-me_item .title .buttons a {
    font-size: 22px;
    padding: 15px 20px;
  }
}

